body{
    background-color: #ffaeae;
    
}
caption{
    caption-side: bottom;
    color: aliceblue;
    font-size: 12px;
}
table{
    border: 1px solid;
}
th{
    border: 1px solid;
}
td{
    border: 1px solid;
}

table, th, td{
    border: 1px solid;
}
th{
    background-color: rgb(161, 255, 20);
}
td{
    text-align: center;
}