body{
    background-color: rgb(1, 0, 53);
}
.Titulo{
    color: white;
    text-align: center;
}
.Botao{
    color: white;
    background-color: aqua;
    padding: 5px;
    border-radius: 3px;
}
.BotaoDois{
    color: white;
    background-color: rgb(24, 98, 207);
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.Underline{
    text-decoration:underline
}
.conteudoTextoCaixa{
    background-color: grey;
}