@media screen and (max-width:600px) {
    body{
        background-color: rgb(241, 156, 184);
    }
    .desktop{
        display: none;
    }

}

@media screen and (min-width:601px) {
    body{
        background-color: aquamarine;    
    }
    .mobile{
        display: none;
    }
    
}